<div class="container">
  <form style="background: #428bca; padding-top: 20px; margin-top: 20px;padding-bottom: 2px;">
    <div class="form-group">
      <div class="input-group" style="padding-left:10px; width: 100% !important;">
        <input id="filter" name="text" placeholder="Search" type="text">
        <i id="filterIcon" class="fa fa-search" style="cursor: pointer;"></i>
      </div>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Remove</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers;">
        <td>{{customer?.name}}</td>
        <td>{{customer?.age}}</td>
        <td>{{customer?.email}}</td>
        <td>
          <button class="btn btn-danger fa fa-trash-o"> Remove</button>
        </td>
        <td>
          <button class="btn btn-primary fa fa-pencil-square"> Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
